<!DOCTYPE html>
<html>
<body>
  <form id="selectorForm">
  <input type="checkbox" class="plant" name="Agalteca" value="Agalteca" checked> Agalteca<br>
  <input type="checkbox" class="plant" name="Alauca" value="Alauca"> Alauca<br>
  <input type="checkbox" class="plant" name="Atima" value="Atima"> Atima<br>
  <input type="checkbox" class="plant" name="Cuatro Comunidades" value="Cuatro Comunidades"> Cuatro Comunidades<br>
  <input type="checkbox" class="plant" name="Otoro" value="Otoro"> Otoro<br>
  <input type="checkbox" class="plant" name="Marcala" value="Marcala"> Marcala<br>
  <input type="checkbox" class="plant" name="Moroceli" value="Moroceli"> Moroceli<br>
  <input type="checkbox" class="plant" name="Matias" value="Matias"> Matias<br>
  <input type="checkbox" class="plant" name="San Nicolas" value="San Nicolas"> San Nicolas<br>
  <input type="checkbox" class="plant" name="Tamara" value="Tamara"> Tamara<br>
  <input type="checkbox" class="plant" name="Las Vegas" value="Las Vegas"> Las Vegas<br>
  <input type="checkbox" class="plant" name="San Juan Guarita" value="San Juan Guarita"> San Juan Guarita
</form>

<button (click)="sendPlantData()">Submit</button>
</body>
</html>

<!-- after login, user redirected to this page, submits plant info, and is redirected
to page of the first selected plant-->
