<p>


Plant Listarrow_drop_down
Estando en un lugar con wifi u otra conexión al internet, baje tres aplicaciónes de “POST Datos,” “POST Dosis” y “POST Graficos.” Encontrarlos Buscando “AguaClara” en la tienda de Google Play.
Siempre con internet, abra la aplicación POST Datos, y entre en el menú de ajustes (haga click en los tres puntos en la esquina superior derecha o en el botón al fondo del celular). Haga click en “Cambiar la configuración”, luego “Configurar Ajustes de Plataforma”.
Toque “URL” y asegura tiene: https://post-aguaclara.appspot.com
Toque “Nombre del Usuario” y entre la nombre de tu planta de este lista
Toque “Contraseña” y entre la contraseña para tu planta en la misma lista de antes.
Ahora vuelva a la página principal (tocando el boton de atras dos veces) y haga click en “Obtener Formulario en Blanco”. Si está direccionado al servidor correcto, deberían de aparecer formularios. (Si no, está direccionado al servidor incorrecto y tiene que comprobar que entró el “URL” correctamente en el paso 2.) Haga click en las cajitas a la par de los formularios queridos, en este caso el actual se llama “”. Luego haga click en “Obtener los Seleccionados”. Debería de aparecer una notificación que el formulario se bajó correctamente.
En el futuro, será necesario bajar nuevas versiones de los formularios por este procedimiento. Siempre usaremos las versiones más recientes.
Listo para guardar datos! Este paso no requiere internet. Vuelva a la página principal (tocando el boton de atras), y haga click en “Llenar Nuevo Formulario”. Deberían de aparecer los dos formularios obtenidos.
Si quiere registrar datos o monitoreo, haga click en el nombre de el formulario, y toque las flechas de la pantalla.
Si el formulario aparece en inglés, entre al menú de ajustes, seleccione “Cambiar el idioma”, y seleccione la lengua preferida.
Una vez que el formulario ha sido finalizado y guardado, aún tiene que mandarlo por la opción “Enviar Formulario Finalizado” en un lugar con wifi. De la lista de los formularios guardados, seleccione el formulario, o los múltiples formularios, que quiere enviar, y haga click en “Enviar Seleccionado”. Si la aplicación entregó los formularios correctamente al servidor, debería de aparecer una notificación que lo refleje. Felicidades! Ha entregado datos de la calidad de agua!
</p>
