<p>
  Quien es POST?
  En el mundo hay miles de millones de personas quienes viven con agua contaminada
   y saneamiento inadecuado. Los proyectos de desarrollo que tienen como objetivo
   solucionar este problema generalmente son muy costosos, logran muy poco y no están
   siendo documentados. Siempre estamos buscando mejorar el acceso universal al
   agua y saneamiento mediante herramientas que permitan mostrar y ubicar las
   necesidades, quienes y cómo están trabajando para solventarlas y donde se
   están alcanzando las metas.
</p>
