<!DOCTYPE html>
<nav class="sidenav" [clr-nav-level]="2">
	<section class="sidenav-content">
		<section class="nav-group">
			<input id="tabexample2" type="checkbox">
			<label for="tabexample2">Plant List</label>
			<ul class="nav-list">
				<br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('Agalteca')">Agalteca</button></a>
				<br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('Alauca')">Alauca</button></a>
				<br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('Atima')">Atima</button></a>
				<br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('Cautro Comunidades')">Cuatro Comunidades</button></a>
				<br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('Otoro')">Otoro</button></a>
				<br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('Marcala')">Marcala</button></a>
				<br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('Moroceli')">Moroceli</button></a>
				<br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('Matias')">Matias</button></a>
				<br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('San Nicolas')">San Nicolas</button></a>
				<br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('Tamara')">Tamara</button></a>
			  <br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('Las Vegas')">Las Vegas</button></a>
				<br><a href="./plant"><button class = "unstyled-button" (click) = "onClickMe('San Juan Guarita')">San Juan Guarita</button></a>
			</ul>
		</section>
	</section>
</nav>
