<clr-header class="header-6">
    <div class="branding">
        <a href="#" class="nav-link nav-text">
            <!-- <clr-icon shape="map-marker"></clr-icon> -->
            <span class="title">POST</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
    	<a href="./index.html" class="nav-link nav-text">
    		<span class="title">Plants</span>
    	</a>
    	<a href="./about.html" class="nav-link nav-text">
    		<span class="title">About</span>
    	</a>
    	<a href="./howto.html" class="nav-link nav-text">
    		<span class="title">Installation</span>
    	</a>
    </div>
</clr-header>