<nav role="navigation">
	<script>
		$(".button-collapse").sideNav();
		$('.collapsible').collapsible();
		var changePlant = function(d){
			save("plantName", d);
			window.location.href = "/index.html";
		};
	</script>
	<div class="nav-wrapper container">
	<a class="right" href="./index.html"><span class="icon-POST" style="font-size:55px;vertical-align: middle"></span></a>
		<a id="logo-container" href="./index.html" class="brand-logo right" style="padding-right: 50px">
			POST
		</a>
		<ul class="left">
			<li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a></li>
			<span class="hide-on-med-and-down"><navlist></navlist></span>
		</ul>
	</div>
</nav>
<ul id="slide-out" class="side-nav">
	<span class="hide-on-large-only">
		<navlist></navlist>
		<li><div class="divider"></div></li>
	</span>
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header active">Plant List<i class="material-icons" style="float:right; margin-right: 0px">arrow_drop_down</i></a>
				<div class="collapsible-body">
					<ul>
						<!-- <plantlist></plantlist> -->
					</ul>
				</div>
			</li>
		</ul>
	</li>
</ul>