<!DOCTYPE html>
<nav class="sidenav" [clr-nav-level]="2">
	<section class="sidenav-content">
		<section class="nav-group">
			<input id="tabexample2" type="checkbox">
			<label for="tabexample2">Plant List</label>
			<ul class="nav-list">
				<li><a class="nav-link">Agalteca</a></li>
				<li><a class="nav-link">Alauca</a></li>
				<li><a class="nav-link">Atima</a></li>
				<li><a class="nav-link">Cuatro Comunidades</a></li>
				<li><a class="nav-link">Otoro</a></li>
				<li><a class="nav-link">Marcala</a></li>
				<li><a class="nav-link">Moroceli</a></li>
				<li><a class="nav-link">Matias</a></li>
				<li><a class="nav-link">San Nicolas</a></li>
				<li><a class="nav-link">Tamara</a></li>
				<li><a class="nav-link">Las Vegas</a></li>
				<li><a class="nav-link">San Juan Guarita</a></li>
			</ul>
		</section>
	</section>
</nav>
