$roboto-font-path: "";
@import "../materialize-src/sass/materialize.scss";

@font-face {
  font-family: 'icomoon';
  src:  url('/font/fonts/icomoon.eot?lv2va');
  src:  url('/font/fonts/icomoon.eot?lv2va#iefix') format('embedded-opentype'),
    url('/font/fonts/icomoon.ttf?lv2va') format('truetype'),
    url('/font/fonts/icomoon.woff?lv2va') format('woff'),
    url('/font/fonts/icomoon.svg?lv2va#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-POST:before {
  content: "\e900";
  background: -webkit-gradient(linear, left top, right top, from($primary-color), to($secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#slide-out li {
	padding: 0px;
}

#slide-out li:hover {
	background-color: rgba(0,0,0,0.05);
}

#slide-out li>a {
	padding: 0 30px;
}

#slide-out .collapsible-header {
	margin: 0 0rem;
}

#plantListCollapsible li {
	width:100%;
	padding: 0px;
	margin: 0px;
}

#plantListCollapsible li a {
	padding: 0 60px;
	margin: 0px;
}

.plantButton {
	width:100%;
	border:none;
	text-align:left;
	padding:0;
	padding-left:60px;
	background-color: #fff;
}

.plantButton:hover {
	background-color: rgba(0,0,0,0.05);
}

.activeButton {
	background-color: lighten($primary-color-light, 10%);
}

.activeButton:hover {
	background-color: lighten($primary-color-light, 20%);
}

.tabs {
	overflow: hidden;
}

.tabs .tab a {
	color: $primary-color;
	opacity: 0.7;
}

.tabs .tab a:hover, .tabs .tab a.active {
	color: $primary-color;
	opacity:1;
}

.tabs .indicator {
	background-color: $primary-color;
}

.tab-container {
	height:500px;
}