<!DOCTYPE html>
<!-- <div class="example-container mat-elevation-z8">
  <mat-table #table [datasource]="dataSource"> -->

    <!-- Position Column -->
    <!-- <ng-container matcolumndef="position">
      <mat-header-cell *matheadercelldef> No. </mat-header-cell>
      <mat-cell *matcelldef="let element"> {{element.position}} </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matcolumndef="name">
      <mat-header-cell *matheadercelldef> Name </mat-header-cell>
      <mat-cell *matcelldef="let element"> {{element.name}} </mat-cell>
    </ng-container> -->

    <!-- Weight Column -->
    <!-- <ng-container matcolumndef="weight">
      <mat-header-cell *matheadercelldef> Weight </mat-header-cell>
      <mat-cell *matcelldef="let element"> {{element.weight}} </mat-cell>
    </ng-container> -->

    <!-- Symbol Column -->
    <!-- <ng-container matcolumndef="symbol">
      <mat-header-cell *matheadercelldef> Symbol </mat-header-cell>
      <mat-cell *matcelldef="let element"> {{element.symbol}} </mat-cell>
    </ng-container> -->

    <!-- <mat-header-row *matheaderrowdef="displayedColumns"></mat-header-row>
    <mat-row *matrowdef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pagesize]="10"
                 [pagesizeoptions]="[5, 10, 20]"
                 [showfirstlastbuttons]="true">
  </mat-paginator>
</div> -->



<table class="table">

    <thead>
        <tr>
            <th>Decimal</th>
            <th>Hexadecimal</th>
            <th>Binary</th>
            <th>Roman Numeral</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>I</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>101</td>
            <td>V</td>
        </tr>
        <tr>
            <td>10</td>
            <td>A</td>
            <td>1010</td>
            <td>X</td>
        </tr>
        <tr>
            <td>15</td>
            <td>F</td>
            <td>1111</td>
            <td>XV</td>
        </tr>
    </tbody>
</table>
